/* general style  */

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Lato' sans-serif;
}

body{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./R.jpg) no-repeat center center /cover;
}

.container
{
    width:550px;
    height: 450px;
}

.header
{
    font-size: 1.2rem;
    border : solid 2px #fff ;
    color : #fff;
    background-color: #262626;
    padding : 5px;
    width : 80%;
    margin : 20px auto;
    border-radius: 5px;
}

.main-content
{
    width: 100%;
    height : 320px ;
    background-color: #fff;
    border-radius: 15px;
    padding : 50px 40px ;
    box-shadow: 0 0 10px;
}

.main-content .text-area
{
    font-size: 1.6rem;
    line-height: 1.6;
}

.main-content .person
{
    font-size: 1.8rem;
    color: rgb(185, 0, 0);
    text-transform: uppercase;
    margin-top: 20px;
}


.button-area{
    display : flex;
    justify-content: center;
    align-items: center;
}
.button-area button{
    background-color: #262626;
    color :#fff;
    font-size: 1.4rem;
    padding : 10px 15px ;
    margin-top: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #262626;
    transition:all 0.5s;
    position : fixed;
    bottom: 29vh;
}

.button-area button:hover{
    box-shadow: 5px 8px 10px #cfcfcf;
}

.button-area button:active{
    background-color :rgb(148, 148, 148);
    border-color:rgb(148, 148, 148);
}
